.features{
    padding:90px 8%;
    background:#ffffff;
}

.features h2{
    text-align:center;
    font-size:42px;
    color:#1b5e20;
    margin-bottom:60px;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.feature-card{
    background:#fff;
    padding:35px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
}

.feature-icon{
    font-size:50px;
    color:#43a047;
    margin-bottom:20px;
}

.feature-card h3{
    margin-bottom:15px;
    color:#222;
}

.feature-card p{
    color:#666;
    line-height:1.7;
}