.how{
    padding:100px 8%;
    background:#f8fbf8;
}

.how h2{
    text-align:center;
    font-size:42px;
    color:#1b5e20;
    margin-bottom:70px;
}

.how-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

.step{
    width:250px;
    background:#fff;
    padding:35px 25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.step:hover{
    transform:translateY(-10px);
}

.icon{
    width:80px;
    height:80px;
    margin:auto;
    background:#e8f5e9;
    color:#2e7d32;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    margin-bottom:20px;
}

.step h3{
    color:#222;
    margin-bottom:15px;
    font-size:22px;
}

.step p{
    color:#666;
    line-height:1.7;
    font-size:15px;
}

.arrow{
    font-size:40px;
    color:#43a047;
    font-weight:bold;
}

@media(max-width:1100px){

.arrow{
    display:none;
}

.how-container{
    flex-direction:column;
}

.step{
    width:100%;
    max-width:400px;
}

}